
### Java ###
*.class
*.jar
*.log

### IntelliJ ###
out/

#File-based project format
*.iws

### Gradle ###
.gradle
/build/

#Ignore Gradle GUI config
gradle-app.setting

#Avoid ignoring Gradle wrapper jar file
!gradle-wrapper.jar

#Cache of project
.gradletasknamecache