
### Java ###
*.class
*.jar
*.log

### IntelliJ ###
out/

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/uiDesigner.xml

# Gradle:
.idea/**/libraries

#File-based project format
*.iws

### Gradle ###
.gradle/
/build/

#Ignore Gradle GUI config
gradle-app.setting

#Avoid ignoring Gradle wrapper jar file
!gradle-wrapper.jar

#Cache of project
.gradletasknamecache

#Dashboard
node_modules/
bower_components/

# scripts
temp/