* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font: 16px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    overflow: hidden;
    background: #222;
}

div {
    /*border: 1px solid red;*/
}

.tunable-value {
    color: black;
}

.container {
    margin: 1em;
    margin-top: 0.5em;
}

#main {
    text-align: center;
    vertical-align: middle;
}

#auto {
    margin-top: 10px;
}