.container {
    margin-left: 1em;
    margin-right: 1em;
}

.row {
    padding-top: 0.5em;
}

#state {
    font-size: 2em;
    padding-left: 35px;
}


.auto-select {
    animation: blinker 1s linear infinite;
}
  
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

select {
    color: black;
}

.auto-ack {
    color: green;
}

.auto-no-ack {
    color: red;
}